ul {
  list-style-type: none;
}

.post-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content--wrapper {
  width: 86.5rem;
  grid-template-columns: 416px 426px;
  display: grid;
  place-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 4.8rem;
  /* overflow: scroll; */
  gap: 3.2rem;
}
