.user-wrapper {
  display: flex;
  padding: 3rem 3.2rem;
  margin-top: -9rem;
  width: 86.4rem;
  height: 21.2rem;
  border-radius: 10px;
  background: var(--base-profile, #0b1b2b);
  box-shadow: 0px 2px 28px 0px rgba(0, 0, 0, 0.2);
  gap: 2.5rem;
}

.user-informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.title {
  display: flex;
  justify-content: space-between;
}

.git-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.git-link a {
  text-decoration: none;
  color: var(--brand-blue, #3294f8);
  font-family: Nunito;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
  text-transform: uppercase;
}

.title h2 {
  color: var(--base-title, #e7edf4);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.content p {
  color: var(--base-text, #afc2d4);
  line-height: 160%;
}

.user-info {
  display: flex;
  gap: 2.4rem;
  margin-top: 2rem;
  color: var(--base-subtitle, #c4d4e3);
  line-height: 160%;
}

.user-name,
.user-company,
.user-fellows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
