.user-wrapper {
  display: flex;
  padding: 3rem 3.2rem;
  margin-top: -9rem;
  width: 86.4rem;
  height: 21.2rem;
  border-radius: 10px;
  background: var(--base-profile, #0b1b2b);
  box-shadow: 0px 2px 28px 0px rgba(0, 0, 0, 0.2);
  gap: 2.5rem;
}

.user-informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
