
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 53%;
}

body {
  font-size: 1.6rem;
  color: white;
  background: var(--base-background, #071422);
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}
